<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:spacer {"height":"25vh"} -->
<div style="height:25vh" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:heading {"textAlign":"center","fontSize":"h1"} -->
<h2 class="wp-block-heading has-text-align-center has-h-1-font-size">404 - Page Not Found</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">You gotta go home, man.</p>
<!-- /wp:paragraph -->

<!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center"}} -->
<div class="wp-block-buttons"><!-- wp:button {"textAlign":"center","className":"is-style-fill","style":{"border":{"radius":"25px","width":"4px"}},"fontSize":"button"} -->
<div class="wp-block-button has-custom-font-size is-style-fill has-button-font-size"><a class="wp-block-button__link has-text-align-center wp-element-button" style="border-width:4px;border-radius:25px">Link of Shame</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons -->

<!-- wp:spacer {"height":"25vh"} -->
<div style="height:25vh" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->