<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"metadata":{"name":"hero"},"style":{"spacing":{"padding":{"top":"0","bottom":"var:preset|spacing|60","left":"var:preset|spacing|50","right":"var:preset|spacing|50"},"blockGap":"0"},"dimensions":{"minHeight":"60vh"}},"layout":{"type":"flex","orientation":"vertical","verticalAlignment":"bottom"}} -->
<div class="wp-block-group" style="min-height:60vh;padding-top:0;padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--60);padding-left:var(--wp--preset--spacing--50)"><!-- wp:heading {"level":1,"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"}},"typography":{"lineHeight":"1.2","fontSize":"3.25rem"}}} -->
<h1 class="wp-block-heading" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0;font-size:3.25rem;line-height:1.2">Hey there, I'm Nicole<br>I am a web designer + developer</h1>
<!-- /wp:heading -->

<!-- wp:heading {"level":3,"style":{"spacing":{"padding":{"top":"0","bottom":"0"},"margin":{"top":"0","bottom":"0"}}},"fontSize":"h3"} -->
<h3 class="wp-block-heading has-h-3-font-size" style="margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0">I create digital experiences that turn ideas into interactive art</h3>
<!-- /wp:heading -->

<!-- wp:buttons {"style":{"spacing":{"blockGap":{"top":"0"},"padding":{"top":"var:preset|spacing|40"}}},"layout":{"type":"flex","justifyContent":"space-between"}} -->
<div class="wp-block-buttons" style="padding-top:var(--wp--preset--spacing--40)"><!-- wp:button {"textAlign":"center","className":"is-style-fill","style":{"border":{"width":"5px","color":"#643030","radius":"25px"},"shadow":"-4px 4px 0px 0 #643030"},"fontSize":"button"} -->
<div class="wp-block-button has-custom-font-size is-style-fill has-button-font-size"><a class="wp-block-button__link has-border-color has-text-align-center wp-element-button" style="border-color:#643030;border-width:5px;border-radius:25px;box-shadow:-4px 4px 0px 0 #643030">View my Work</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:group -->

<!-- wp:heading {"style":{"spacing":{"padding":{"left":"var:preset|spacing|50"}}},"fontSize":"h2"} -->
<h2 class="wp-block-heading has-h-2-font-size" id="Projects" style="padding-left:var(--wp--preset--spacing--50)">Projects</h2>
<!-- /wp:heading -->

<!-- wp:heading {"style":{"spacing":{"padding":{"left":"var:preset|spacing|50"}}},"fontSize":"h2"} -->
<h2 class="wp-block-heading has-h-2-font-size" id="Skills" style="padding-left:var(--wp--preset--spacing--50)">Skills</h2>
<!-- /wp:heading -->

<!-- wp:heading {"style":{"spacing":{"padding":{"left":"var:preset|spacing|50"}}},"fontSize":"h2"} -->
<h2 class="wp-block-heading has-h-2-font-size" id="About" style="padding-left:var(--wp--preset--spacing--50)">About</h2>
<!-- /wp:heading -->

<!-- wp:template-part {"slug":"footer"} /-->