<!-- wp:group {"className":"sticky-nav-bar","style":{"position":{"type":"sticky","top":"0px"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group sticky-nav-bar"><!-- wp:template-part {"slug":"header","align":"full"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"hero"},"style":{"spacing":{"padding":{"top":"0","bottom":"var:preset|spacing|60","left":"var:preset|spacing|50","right":"var:preset|spacing|50"},"blockGap":"0"},"dimensions":{"minHeight":"90vh"}},"layout":{"type":"flex","orientation":"vertical","verticalAlignment":"bottom"}} -->
<div class="wp-block-group" style="min-height:90vh;padding-top:0;padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--60);padding-left:var(--wp--preset--spacing--50)"><!-- wp:heading {"level":1,"className":"hero-intro","style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"}},"typography":{"lineHeight":"1.2","fontSize":"3.25rem"},"elements":{"link":{"color":{"text":"var:preset|color|deep-indigo"}}}},"textColor":"deep-indigo"} -->
<h1 class="wp-block-heading hero-intro has-deep-indigo-color has-text-color has-link-color" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0;font-size:3.25rem;line-height:1.2">Hey there, I'm Nicole  </h1>
<!-- /wp:heading -->

<!-- wp:heading {"level":1,"className":"hero-intro","style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"}},"typography":{"lineHeight":"1.2","fontSize":"3.25rem"},"elements":{"link":{"color":{"text":"var:preset|color|deep-indigo"}}}},"textColor":"deep-indigo"} -->
<h1 class="wp-block-heading hero-intro has-deep-indigo-color has-text-color has-link-color" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0;font-size:3.25rem;line-height:1.2">I am a web developer + designer</h1>
<!-- /wp:heading -->

<!-- wp:heading {"level":3,"style":{"spacing":{"padding":{"top":"var:preset|spacing|30","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"}},"typography":{"lineHeight":"1.2"},"elements":{"link":{"color":{"text":"var:preset|color|deep-indigo"}}}},"textColor":"deep-indigo","fontSize":"h3"} -->
<h3 class="wp-block-heading has-deep-indigo-color has-text-color has-link-color has-h-3-font-size" style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--30);padding-right:0;padding-bottom:0;padding-left:0;line-height:1.2">I create digital experiences that turn ideas into interactive art</h3>
<!-- /wp:heading -->

<!-- wp:spacer {"height":"50px","style":{"layout":{"flexSize":"50px","selfStretch":"fixed"}}} -->
<div style="height:50px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:buttons {"className":".hero-button","style":{"spacing":{"blockGap":{"top":"0"},"padding":{"top":"0"}}},"layout":{"type":"flex","justifyContent":"left"}} -->
<div class="wp-block-buttons .hero-button" style="padding-top:0"><!-- wp:button {"textAlign":"center","className":"button","style":{"border":{"radius":"25px","width":"5px"},"shadow":"var:preset|shadow|shadow-1"},"fontSize":"button","borderColor":"grape"} -->
<div class="wp-block-button button"><a class="wp-block-button__link has-border-color has-grape-border-color has-button-font-size has-text-align-center has-custom-font-size wp-element-button" href="#Projects" style="border-width:5px;border-radius:25px;box-shadow:var(--wp--preset--shadow--shadow-1)">View my Work</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons -->

<!-- wp:spacer {"height":"0px","style":{"layout":{"flexSize":"100px","selfStretch":"fixed"}}} -->
<div style="height:0px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section","className":"projects","style":{"spacing":{"padding":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|70"},"margin":{"top":"0","bottom":"0"}}},"backgroundColor":"faded-light-apricot","layout":{"type":"flex","orientation":"vertical","verticalAlignment":"center","justifyContent":"left"}} -->
<section id="Projects" class="wp-block-group projects has-faded-light-apricot-background-color has-background" style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--70);padding-bottom:var(--wp--preset--spacing--70)"><!-- wp:heading {"style":{"spacing":{"padding":{"left":"var:preset|spacing|50","bottom":"0"}}},"fontSize":"h2"} -->
<h2 class="wp-block-heading has-h-2-font-size" style="padding-bottom:0;padding-left:var(--wp--preset--spacing--50)">Projects</h2>
<!-- /wp:heading -->

<!-- wp:group {"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:query {"queryId":14,"query":{"perPage":4,"pages":0,"offset":0,"postType":"project","order":"asc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"parents":[],"format":[]},"tagName":"section","metadata":{"categories":["posts"],"patternName":"core/query-grid-posts","name":"Grid"},"className":"featured-projects","layout":{"type":"default"}} -->
<section class="wp-block-query featured-projects"><!-- wp:post-template {"className":"projects-grid","style":{"spacing":{"padding":{"right":"0","left":"0"},"margin":{"right":"0","left":"0"}}},"layout":{"type":"grid","columnCount":2,"minimumColumnWidth":null}} -->
<!-- wp:group {"className":"project","style":{"spacing":{"padding":{"top":"30px","right":"30px","bottom":"30px","left":"30px"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group project" style="padding-top:30px;padding-right:30px;padding-bottom:30px;padding-left:30px"><!-- wp:post-featured-image {"isLink":true,"aspectRatio":"auto","width":"","height":"","sizeSlug":"full","className":"front-featured-image","style":{"border":{"radius":"8px"}}} /-->

<!-- wp:group {"className":"front-project-info-row","style":{"spacing":{"padding":{"top":"0","bottom":"0"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"flex","flexWrap":"wrap","justifyContent":"space-between"}} -->
<div class="wp-block-group front-project-info-row" style="margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0"><!-- wp:post-title {"level":3,"isLink":true,"className":"front-project-title","style":{"spacing":{"margin":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|20"},"padding":{"top":"0","bottom":"0"}},"elements":{"link":{"color":{"text":"var:preset|color|deep-indigo"},":hover":{"color":{"text":"var:preset|color|soft-blue"}}}}},"textColor":"deep-indigo","fontSize":"h3"} /-->

<!-- wp:post-terms {"term":"project_category","separator":" ","className":"front-project-categories"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->
<!-- /wp:post-template --></section>
<!-- /wp:query -->

<!-- wp:buttons {"className":"button","fontSize":"button","layout":{"type":"flex","justifyContent":"center"}} -->
<div class="wp-block-buttons has-custom-font-size button has-button-font-size"><!-- wp:button {"textAlign":"center","textColor":"deep-indigo","className":"button","style":{"elements":{"link":{"color":{"text":"var:preset|color|deep-indigo"}}},"border":{"radius":"25px","width":"5px"},"shadow":"var:preset|shadow|shadow-1"},"fontSize":"button","borderColor":"grape"} -->
<div class="wp-block-button button"><a class="wp-block-button__link has-deep-indigo-color has-text-color has-link-color has-border-color has-grape-border-color has-button-font-size has-text-align-center has-custom-font-size wp-element-button" href="http://localhost/portfolio/projects/" style="border-width:5px;border-radius:25px;box-shadow:var(--wp--preset--shadow--shadow-1)">View All Projects</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:group --></section>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section","className":"skills","style":{"spacing":{"padding":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|20","left":"var:preset|spacing|30","right":"var:preset|spacing|30"},"blockGap":"0"}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch"}} -->
<section id="Skills" class="wp-block-group skills" style="padding-top:var(--wp--preset--spacing--20);padding-right:var(--wp--preset--spacing--30);padding-bottom:var(--wp--preset--spacing--20);padding-left:var(--wp--preset--spacing--30)"><!-- wp:heading {"style":{"spacing":{"padding":{"left":"var:preset|spacing|40"}}},"fontSize":"h2"} -->
<h2 class="wp-block-heading has-h-2-font-size" style="padding-left:var(--wp--preset--spacing--40)">Skills</h2>
<!-- /wp:heading -->

<!-- wp:group {"className":"skills-tab-container","style":{"spacing":{"margin":{"top":"var:preset|spacing|30"}}},"layout":{"type":"constrained","contentSize":""}} -->
<div class="wp-block-group skills-tab-container" style="margin-top:var(--wp--preset--spacing--30)"><!-- wp:columns {"verticalAlignment":"center","align":"wide","style":{"spacing":{"blockGap":{"left":"var:preset|spacing|20"},"margin":{"top":"0","bottom":"var:preset|spacing|70"},"padding":{"top":"0","bottom":"0"}}}} -->
<div class="wp-block-columns alignwide are-vertically-aligned-center" style="margin-top:0;margin-bottom:var(--wp--preset--spacing--70);padding-top:0;padding-bottom:0"><!-- wp:column {"verticalAlignment":"center","width":"350px","className":"tabs-content-container","style":{"spacing":{"blockGap":"0","padding":{"right":"0","left":"0"}}},"layout":{"type":"constrained","justifyContent":"center"}} -->
<div class="wp-block-column is-vertically-aligned-center tabs-content-container" style="padding-right:0;padding-left:0;flex-basis:350px"><!-- wp:html -->
<div class="skills-tabs">
  <button class="tab-button active" data-tab="languages">Languages & Frameworks</button>
  <button class="tab-button" data-tab="software">Software & Programs</button>
  <button class="tab-button" data-tab="certs">Certifications & Experiences</button>
</div>
<!-- /wp:html --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"center","width":"","layout":{"type":"constrained"}} -->
<div class="wp-block-column is-vertically-aligned-center"><!-- wp:group {"className":"tab-content active","layout":{"type":"constrained"}} -->
<div id="languages" class="wp-block-group tab-content active"><!-- wp:shortcode -->
[list_terms taxonomy="project_tool" parent="59" hide_empty="false"]
<!-- /wp:shortcode --></div>
<!-- /wp:group -->

<!-- wp:group {"className":"tab-content","layout":{"type":"constrained"}} -->
<div id="software" class="wp-block-group tab-content"><!-- wp:shortcode -->
[list_terms taxonomy="project_tool" parent="60" hide_empty="false"]
<!-- /wp:shortcode --></div>
<!-- /wp:group -->

<!-- wp:group {"className":"tab-content","layout":{"type":"constrained"}} -->
<div id="certs" class="wp-block-group tab-content"><!-- wp:paragraph -->
<p>Testing Certs</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group --></section>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section","metadata":{"name":"About"},"className":"about","style":{"spacing":{"padding":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}},"border":{"radius":"15px"}},"backgroundColor":"faded-light-apricot","layout":{"type":"default"}} -->
<section id="About" class="wp-block-group about has-faded-light-apricot-background-color has-background" style="border-radius:15px;padding-top:var(--wp--preset--spacing--60);padding-bottom:var(--wp--preset--spacing--60)"><!-- wp:heading {"style":{"spacing":{"padding":{"left":"var:preset|spacing|50"}}},"fontSize":"h2"} -->
<h2 class="wp-block-heading has-h-2-font-size" id="About" style="padding-left:var(--wp--preset--spacing--50)">About</h2>
<!-- /wp:heading -->

<!-- wp:media-text {"mediaId":308,"mediaLink":"http://localhost/portfolio/illustration/","mediaType":"image","mediaWidth":29,"imageFill":false,"className":"about-section","style":{"spacing":{"padding":{"right":"var:preset|spacing|20","left":"var:preset|spacing|20"},"margin":{"right":"var:preset|spacing|40","left":"var:preset|spacing|40"}},"border":{"radius":"15px"}}} -->
<div class="wp-block-media-text is-stacked-on-mobile about-section" style="border-radius:15px;margin-right:var(--wp--preset--spacing--40);margin-left:var(--wp--preset--spacing--40);padding-right:var(--wp--preset--spacing--20);padding-left:var(--wp--preset--spacing--20);grid-template-columns:29% auto"><figure class="wp-block-media-text__media"><img src="http://localhost/portfolio/wp-content/uploads/2025/04/illustration-1024x1024.png" alt="a simple illustration done in black ink of a portrait of Nicole" class="wp-image-308 size-full"/></figure><div class="wp-block-media-text__content"><!-- wp:paragraph {"placeholder":"Content…","fontSize":"paragraph"} -->
<p class="has-paragraph-font-size">Hi, I’m Nicole! I am a Vancouver-based designer and front-end developer who blends thoughtful UX, clean code, and bold visual storytelling. With a background in graphic design and a passion for accessibility, I create digital experiences that are intuitive, engaging, and crafted with care. I believe great design is both human and functional; rooted in empathy, shaped by curiosity, and never afraid of a little colour.</p>
<!-- /wp:paragraph --></div></div>
<!-- /wp:media-text -->

<!-- wp:buttons {"style":{"spacing":{"blockGap":{"top":"0"},"margin":{"top":"0","bottom":"0"},"padding":{"top":"var:preset|spacing|30"}}},"fontSize":"button","layout":{"type":"flex","justifyContent":"center"}} -->
<div class="wp-block-buttons has-custom-font-size has-button-font-size" style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--30)"><!-- wp:button {"textAlign":"center","className":"button","style":{"border":{"radius":"25px","width":"5px"},"shadow":"var:preset|shadow|shadow-1"},"fontSize":"button","borderColor":"grape"} -->
<div class="wp-block-button button"><a class="wp-block-button__link has-border-color has-grape-border-color has-button-font-size has-text-align-center has-custom-font-size wp-element-button" href="http://localhost/portfolio/about/" style="border-width:5px;border-radius:25px;box-shadow:var(--wp--preset--shadow--shadow-1)">Learn More About Me</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></section>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->