<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"className":"project-title-row","layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group project-title-row"><!-- wp:html -->
<a href="" class="backbutton">
  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevrons-left" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
    <polyline points="11 7 6 12 11 17"></polyline>
    <polyline points="18 7 13 12 18 17"></polyline>
  </svg></a>
<!-- /wp:html -->

<!-- wp:post-title {"style":{"spacing":{"padding":{"right":"0","left":"0"},"margin":{"right":"0","left":"0"}}},"fontSize":"h1"} /--></div>
<!-- /wp:group -->

<!-- wp:post-featured-image {"aspectRatio":"16/9","style":{"spacing":{"margin":{"right":"var:preset|spacing|70","left":"var:preset|spacing|70"}},"border":{"radius":"25px"}}} /-->

<!-- wp:columns {"className":"project-details","style":{"border":{"radius":"25px"},"elements":{"link":{"color":{"text":"var:preset|color|deep-indigo"}}}},"backgroundColor":"faded-light-apricot","textColor":"deep-indigo"} -->
<div class="wp-block-columns project-details has-deep-indigo-color has-faded-light-apricot-background-color has-text-color has-background has-link-color" style="border-radius:25px"><!-- wp:column {"verticalAlignment":"top","width":"30%"} -->
<div class="wp-block-column is-vertically-aligned-top" style="flex-basis:30%"><!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:shortcode -->
[project_client]
<!-- /wp:shortcode -->

<!-- wp:shortcode -->
[project_role]
<!-- /wp:shortcode --></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"top","width":"40%"} -->
<div class="wp-block-column is-vertically-aligned-top" style="flex-basis:40%"><!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:shortcode -->
[project_teammates]
<!-- /wp:shortcode --></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"center","width":"30%","layout":{"type":"constrained"}} -->
<div class="wp-block-column is-vertically-aligned-center" style="flex-basis:30%"><!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group"><!-- wp:shortcode -->
[github_button]
<!-- /wp:shortcode -->

<!-- wp:shortcode -->
[live_button]
<!-- /wp:shortcode --></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:columns {"style":{"spacing":{"padding":{"right":"var:preset|spacing|70","left":"var:preset|spacing|70"}}}} -->
<div class="wp-block-columns" style="padding-right:var(--wp--preset--spacing--70);padding-left:var(--wp--preset--spacing--70)"><!-- wp:column {"width":"70%","layout":{"type":"default"}} -->
<div class="wp-block-column" style="flex-basis:70%"><!-- wp:group {"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group"><!-- wp:heading {"level":3,"fontSize":"h3"} -->
<h3 class="wp-block-heading has-h-3-font-size">About the project:</h3>
<!-- /wp:heading -->

<!-- wp:post-content /--></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"30%","layout":{"type":"default"}} -->
<div class="wp-block-column" style="flex-basis:30%"><!-- wp:group {"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group"><!-- wp:heading {"level":3,"fontSize":"h3"} -->
<h3 class="wp-block-heading has-h-3-font-size">Project Brief:</h3>
<!-- /wp:heading -->

<!-- wp:shortcode -->
[project_brief]
<!-- /wp:shortcode --></div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group"><!-- wp:heading {"level":3,"fontSize":"h3"} -->
<h3 class="wp-block-heading has-h-3-font-size">Tools used:</h3>
<!-- /wp:heading -->

<!-- wp:shortcode -->
[project_tools]
<!-- /wp:shortcode --></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:heading {"textAlign":"center","fontSize":"h3"} -->
<h2 class="wp-block-heading has-text-align-center has-h-3-font-size">More Projects</h2>
<!-- /wp:heading -->

<!-- wp:query {"queryId":22,"query":{"perPage":3,"pages":0,"offset":0,"postType":"project","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"parents":[],"format":[]}} -->
<div class="wp-block-query"><!-- wp:post-template {"style":{"spacing":{"padding":{"right":"0","left":"0"},"margin":{"right":"var:preset|spacing|80","left":"var:preset|spacing|80"}}},"layout":{"type":"grid","columnCount":3}} -->
<!-- wp:post-featured-image {"isLink":true} /-->

<!-- wp:post-title {"isLink":true} /-->
<!-- /wp:post-template --></div>
<!-- /wp:query -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->