<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"className":"project-title-row","style":{"spacing":{"padding":{"right":"var:preset|spacing|80","left":"var:preset|spacing|30"}}},"layout":{"type":"flex","flexWrap":"wrap","justifyContent":"space-between"}} -->
<div class="wp-block-group project-title-row" style="padding-right:var(--wp--preset--spacing--80);padding-left:var(--wp--preset--spacing--30)"><!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group"><!-- wp:html -->
<a href="" class="backbutton">
  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevrons-left" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
    <polyline points="11 7 6 12 11 17"></polyline>
    <polyline points="18 7 13 12 18 17"></polyline>
  </svg></a>
<!-- /wp:html -->

<!-- wp:post-title {"style":{"spacing":{"padding":{"right":"0","left":"0"},"margin":{"right":"0","left":"0"}}},"fontSize":"h1"} /--></div>
<!-- /wp:group -->

<!-- wp:post-terms {"term":"project_category","separator":"","className":"single-project-categories"} /--></div>
<!-- /wp:group -->

<!-- wp:post-featured-image {"aspectRatio":"16/9","className":"header-image","style":{"spacing":{"margin":{"right":"var:preset|spacing|20","left":"var:preset|spacing|20"},"padding":{"right":"0","left":"0"}},"border":{"radius":"5px"}}} /-->

<!-- wp:columns {"className":"project-details","style":{"border":{"radius":"10px"},"elements":{"link":{"color":{"text":"var:preset|color|deep-indigo"}}}},"backgroundColor":"faded-light-apricot","textColor":"deep-indigo"} -->
<div class="wp-block-columns project-details has-deep-indigo-color has-faded-light-apricot-background-color has-text-color has-background has-link-color" style="border-radius:10px"><!-- wp:column {"verticalAlignment":"top","width":"30%"} -->
<div class="wp-block-column is-vertically-aligned-top" style="flex-basis:30%"><!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:shortcode -->
[project_client]
<!-- /wp:shortcode -->

<!-- wp:shortcode -->
[project_role]
<!-- /wp:shortcode --></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"top","width":"40%"} -->
<div class="wp-block-column is-vertically-aligned-top" style="flex-basis:40%"><!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:shortcode -->
[project_teammates]
<!-- /wp:shortcode --></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"center","width":"30%","layout":{"type":"constrained"}} -->
<div class="wp-block-column is-vertically-aligned-center" style="flex-basis:30%"><!-- wp:group {"className":"project-buttons","style":{"spacing":{"blockGap":"var:preset|spacing|50","margin":{"top":"0","bottom":"0"}}},"layout":{"type":"flex","flexWrap":"wrap","justifyContent":"center"}} -->
<div class="wp-block-group project-buttons" style="margin-top:0;margin-bottom:0"><!-- wp:shortcode -->
[github_button]
<!-- /wp:shortcode -->

<!-- wp:shortcode -->
[live_button]
<!-- /wp:shortcode --></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:columns {"style":{"spacing":{"padding":{"right":"2.1rem","left":"2.1rem","top":"var:preset|spacing|50","bottom":"var:preset|spacing|50"}}}} -->
<div class="wp-block-columns" style="padding-top:var(--wp--preset--spacing--50);padding-right:2.1rem;padding-bottom:var(--wp--preset--spacing--50);padding-left:2.1rem"><!-- wp:column {"width":"30%","layout":{"type":"default"}} -->
<div class="wp-block-column" style="flex-basis:30%"><!-- wp:group {"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group"><!-- wp:heading {"level":3,"fontSize":"h3"} -->
<h3 class="wp-block-heading has-h-3-font-size">Project Brief:</h3>
<!-- /wp:heading -->

<!-- wp:shortcode -->
[project_brief]
<!-- /wp:shortcode --></div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group"><!-- wp:heading {"level":3,"fontSize":"h3"} -->
<h3 class="wp-block-heading has-h-3-font-size">Tools used:</h3>
<!-- /wp:heading -->

<!-- wp:shortcode -->
[project_tools]
<!-- /wp:shortcode --></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"70%","layout":{"type":"default"}} -->
<div class="wp-block-column" style="flex-basis:70%"><!-- wp:group {"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group"><!-- wp:heading {"level":3,"fontSize":"h3"} -->
<h3 class="wp-block-heading has-h-3-font-size">Details:</h3>
<!-- /wp:heading -->

<!-- wp:post-content {"style":{"spacing":{"padding":{"right":"0"},"margin":{"right":"0"}}}} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:spacer {"height":"59px"} -->
<div style="height:59px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50"},"margin":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group" style="margin-top:var(--wp--preset--spacing--50);margin-bottom:var(--wp--preset--spacing--50);padding-top:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--50)"><!-- wp:heading {"textAlign":"center","fontSize":"h3"} -->
<h2 class="wp-block-heading has-text-align-center has-h-3-font-size">More Projects</h2>
<!-- /wp:heading -->

<!-- wp:query {"queryId":22,"query":{"perPage":3,"pages":0,"offset":0,"postType":"project","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"parents":[],"format":[]},"className":"more-projects","layout":{"type":"default"}} -->
<div class="wp-block-query more-projects"><!-- wp:post-template {"style":{"spacing":{"padding":{"right":"0","left":"0"},"margin":{"right":"var:preset|spacing|80","left":"var:preset|spacing|80"}}},"layout":{"type":"grid","columnCount":3}} -->
<!-- wp:post-featured-image {"isLink":true} /-->

<!-- wp:post-title {"level":3,"isLink":true,"style":{"spacing":{"padding":{"top":"0","bottom":"0"},"margin":{"top":"0","bottom":"0"}}},"fontSize":"h3"} /-->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->