body {
  margin: 0;
  /* overflow: hidden; */
  height: 100vh;
}

footer {
  width: 100%;
}

.falling-logo {
  position: absolute;
  top: -62em;
  left: 50%;
  transform: translateX(-50%) scale(0.5);
  animation: fallAnimation 4s ease-in-out forwards;
}

@keyframes fallAnimation {
  0% {
    top: -62em;
  }
  80% {
    top: calc(100vh - 120px);
  }
  100% {
    top: calc(100vh - 100px);
  }
}

@keyframes fallAnimationMobile {
  0% {
    top: -62em;
  }
  80% {
    top: calc(100vh - 80px);
  }
  100% {
    top: calc(100vh - 60px);
  }
}

@media (max-width: 35.5em) {
  .falling-logo {
    transform: translateX(-50%) scale(0.3);
    animation: fallAnimationMobile 3s ease-in-out forwards;
  }
}

/* Mobile Navigation */
/* hide on all viewports by default */
#mobile-nav {
  display: none;
}

.mobile-nav-icon {
  display: none;
}

/* show on mobile only */
@media (max-width: 28.125rem) {
  #mobile-nav {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 96%;
    z-index: 1000;
    margin-left: 0.5rem;
    margin-bottom: 0.75rem;
  }
  /* if you wrapped a desktop header, hide it on mobile */
  .sticky-nav-bar,
  .custom-nav {
    display: none;
  }

  .mobile-nav-icon {
    display: block;
  }
}

@media (min-width: 28.1875rem) {
  #mobile-nav {
    display: none;
  }
  .sticky-nav-bar,
  .custom-nav {
    display: block;
  }
}
