body {
  background: linear-gradient(
    132deg,
    rgb(122, 140, 221, 0.8),
    rgb(222, 174, 212, 0.8),
    rgb(255, 236, 202, 0.8)
  );
  background-size: 300% 300%;
  animation: BackgroundGradient 40s ease infinite;
}

@keyframes BackgroundGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
